[STORM-1519] Storm syslog logging not confirming to RFC5426 3.1

<p>AS per RFC 5426 section 3.1, there should be only one message per datagram:</p>

<p>3.1. One Message Per Datagram<br/>
Each syslog UDP datagram MUST contain only one syslog message, which<br/>
MAY be complete or truncated. The message MUST be formatted and<br/>
truncated according to RFC 5424 <span class="error">&#91;2&#93;</span>. Additional data MUST NOT be<br/>
present in the datagram payload.</p>

<p>For example</p>

<p>UDP package: <174>1 2016-02-02T22:44:05.558Z localhost <span class="error">&#91;nimbus&#93;</span> - <span class="error">&#91;nobody:S0&#93;</span> <span class="error">&#91;mdc@18060 ClassName="?"&#93;</span> Using custom scheduler: backtype.storm.scheduler.bridge.MultitenantResourceAwareBridgeScheduler <br/>
<174>1 2016-02-02T22:44:05.591Z localhost <span class="error">&#91;nimbus&#93;</span> - <span class="error">&#91;nobody:S0&#93;</span> <span class="error">&#91;mdc@18060 ClassName="?"&#93;</span> Creating new blob store based in /home/y/var/storm/blobs</p>

<p>but the two log messages should be each in their own udp packet</p>


---
<details><summary><i>Originally reported by <a title="Boyang Jerry Peng" href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=jerrypeng">jerrypeng</a>, imported from: <a href="https://issues.apache.org/jira/browse/STORM-1519" target="_blank">Storm syslog logging not confirming to RFC5426 3.1</a></i></summary>
<i><ul>
<li><b>assignee</b>: <a title="Boyang Jerry Peng" href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=jerrypeng">jerrypeng</a>
<li><b>status</b>: Resolved
<li><b>priority</b>: Minor
<li><b>resolution</b>: Fixed
<li><b>resolved</b>: 2016-02-11T19:44:17+00:00
<li><b>imported</b>: 2025-01-18
</ul></i>
</details>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=jerrypeng">jerrypeng</a>:</i>
<p>though changing the syslog setting in cluster.xml immediateFlush="false" => "true" seems to fix the issue<br/>
Description from log4j2 website:<br/>
immediateFlush - When set to true - the default, each write will be followed by a flush. This will guarantee the data is written to disk but could impact performance.</p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>GitHub user jerrypeng opened a pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068</a></p>

<p>    <a href="https://issues.apache.org/jira/browse/STORM-1519" title="Storm syslog logging not confirming to RFC5426 3.1" class="issue-link" data-issue-key="STORM-1519"><del>STORM-1519</del></a> - Storm syslog logging not confirming to RFC5426 3.1</p>



<p>You can merge this pull request into a Git repository by running:</p>

<p>    $ git pull <a href="https://github.com/jerrypeng/storm" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/jerrypeng/storm</a> <a href="https://issues.apache.org/jira/browse/STORM-1519" title="Storm syslog logging not confirming to RFC5426 3.1" class="issue-link" data-issue-key="STORM-1519"><del>STORM-1519</del></a></p>

<p>Alternatively you can review and apply these changes as the patch at:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068.patch" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068.patch</a></p>

<p>To close this pull request, make a commit to your master/trunk branch<br/>
with (at least) the following in the commit message:</p>

<p>    This closes #1068</p>

<hr />

<hr />

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user erikdw commented on the pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068#issuecomment-178916497" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068#issuecomment-178916497</a></p>

<p>    This seems like it could have a <b>major</b> impact on performance, no?   It's not clear to me what is so horrible in <a href="https://issues.apache.org/jira/browse/STORM-1519" title="Storm syslog logging not confirming to RFC5426 3.1" class="issue-link" data-issue-key="STORM-1519"><del>STORM-1519</del></a> that we need to force a disk write for every single log message.</p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user jerrypeng commented on the pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068#issuecomment-178962569" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068#issuecomment-178962569</a></p>

<p>    Well this only changes that config for the syslog appender.  The syslog appender writes data to a network socket.  This doesn't change the other appenders that will actually write to disk.</p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user jerrypeng commented on the pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068#issuecomment-178963442" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068#issuecomment-178963442</a></p>

<p>    If a user has a log parser that adheres to RFC5426, then how log4j2 is configured to write to syslog is a problem. </p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user erikdw commented on the pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068#issuecomment-178964338" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068#issuecomment-178964338</a></p>

<p>    @jerrypeng : ahhh.... thanks for the extra info, both points make sense. To be pedantic, that detail woulda been cool in the (empty :wink<img class="emoticon" src="https://issues.apache.org/jira/images/icons/emoticons/smile.png" height="16" width="16" align="absmiddle" alt="" border="0"/> description.</p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user jerrypeng commented on the pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068#issuecomment-178964694" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068#issuecomment-178964694</a></p>

<p>    @erikdw the jira i filed contained more detailed information</p>

<p>    <a href="https://issues.apache.org/jira/browse/STORM-1519" class="external-link" rel="nofollow">https://issues.apache.org/jira/browse/STORM-1519</a></p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user erikdw commented on the pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068#issuecomment-178969462" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068#issuecomment-178969462</a></p>

<p>    @jerrypeng : heh, yep, I read the whole bug before my first reply.  And it had this note:</p>
<ul>
	<li>"immediateFlush - When set to true - the default, each write will be followed by a flush. This will guarantee the data is written to disk but could impact performance."</li>
</ul>


<p>    And <b>that</b> is what scared me into replying actually!   The log4j2 docs should probably just be updated to "written to disk or network".</p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user revans2 commented on the pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068#issuecomment-182554794" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068#issuecomment-182554794</a></p>

<p>    The change looks fine to me +1.</p>

<p>    @erikdw do you have any other concerns about this?</p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user erikdw commented on the pull request:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068#issuecomment-182593254" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068#issuecomment-182593254</a></p>

<p>    @revans2 : not at all!  I just misunderstood the implications, totally my bad.</p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=githubbot">githubbot</a>:</i>
<p>Github user asfgit closed the pull request at:</p>

<p>    <a href="https://github.com/apache/storm/pull/1068" class="external-link" target="_blank" rel="nofollow noopener">https://github.com/apache/storm/pull/1068</a></p>

<i><a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=revans2">revans2</a>:</i>
<p>Thanks <a href="https://issues.apache.org/jira/secure/ViewProfile.jspa?name=jerrypeng" class="user-hover" rel="jerrypeng">Boyang Jerry Peng</a>,</p>

<p>I merged this into master and 1.x-branch</p>